<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LVLCLocationVenueID</key>
	<string>5b16841d7892d00013395c5f</string>
	<key>LVLCLocationLat</key>
	<string>50.757630</string>
	<key>LVLCLocationLng</key>
	<string>4.348588</string>
	<key>LVLCLocationFloor</key>
	<integer>1</integer>
	<key>LVLCLocationZoom</key>
	<integer>16</integer>
	<key>LVLCLocationMPWApiKey</key>
	<string>49036d2ce04575909ccc816bcec837ca</string>
</dict>
</plist>
